#app-header {
    width: 100%;
    color: white;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-bottom:5px;
    background-color: lightsteelblue;
    text-align: center;
    vertical-align: top;
}
