<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}">
  <table border="0" cols="2" width="100%">
    <!-- Le titre et la date de création du post -->
    <tr>
      <td class="text-left">
        <h3>{{ post.title }}</h3>
      </td>
      <td class="text-right">
        <h5><em>{{ post.createdAt | date: 'MM/dd/y, HH:mm:ss' }}</em></h5>
      </td>
    </tr>
    <!-- Le contenu du post -->
    <tr>
      <td colspan="2">{{ post.content }}</td>
      <td></td>
    </tr>
    <!-- Les boutons J'aime et J'aime pas et les événements click -->
    <tr>
      <td colspan="2">
        <div style="margin-top: 20px">
          <button class="btn btn-success" (click)="onLoveIt()">J'aime !</button>
          <button class="btn btn-danger" style="margin-left: 10px" (click)="onDontLoveIt()">J'aime pas</button>
        </div>
      </td>
    </tr>
  </table>
</li>